<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimationIcons.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38881C6D1C532F8300A2FDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38881C861C532F8300A2FDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38881C911C532F8400A2FDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
